services:
  openwebui:
    container_name: openwebui
    env_file:
      - .env
    image: ghcr.io/open-webui/open-webui:0.6.41
    networks:
      - ai-net
    ports:
      - "3000:8080"
    restart: unless-stopped
    volumes:
      - ./data:/app/backend/data

networks:
  ai-net:
    external: true

volumes:
  openwebui:
