version: "3.9"

services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:0.6.41
    container_name: openwebui
    restart: unless-stopped
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - openwebui:/app/backend/data
    networks:
      - ai-net

networks:
  ai-net:
    external: true

volumes:
  openwebui: